/*div {
	border: 1px dash black;
}*/

#wrapper {
	margin: auto;
	width: 60%;
	text-align: center;
	border: 1px dashed black;
	/*padding-bottom: 60%;*/
}

.grid {
	display: inline-block;
	width: 5.75%;
	padding-bottom: 5.75%;
	background-color: gray;
	border: 1px solid black;
	vertical-align: top; /*to remove the space between lines*/
}

.mouseenter {
	background-color: white;
}

.mouseleave {
	background-color: black;
}

.thirtytwo {
	width: 2.9%;
	padding-bottom: 2.9%;
}

.fortyeight {
	width: 1.9%;
	padding-bottom: 1.9%;
	vertical-align: top;
}

.remove {

}